<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>一键去水印</title>
    <meta name="referrer" content="never">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <div id="container">
      <div class="app-left">
        <video id="myVideo" width="100%" height="100%" controls="controls">
          <source v-bind:src="realUrl" type="video/mp4" />
        </video>
      </div>
      <div class="app-right">
        <h2>一键去水印</h2>
        <p class="form-label">
          链接
        </p>
        <div class="form-item">
          <textarea class="form-textarea" v-model="sourceText" placeholder="请粘贴抖音/快手(短链接)分享链接" rows="8"></textarea>
        </div>
        <p class="form-label">
          授权码
        </p>
        <div class="form-item">
          <input class="form-input" v-model="accessKey" placeholder="请输入授权码，特定ip段不需要填写"/>
        </div>
        <div class="form-item">
          <button class="form-submit" @click="transform">获取</button>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#container",
      data: {
        sourceText: "",
        realUrl: "",
        seen: false,
        accessKey: "",
        // msg: {
        //   show: false,
        //   color: "red",
        //   content: "",
        // },
      },
      methods: {
        transform: function () {
          var _this = this;
          var myVideo = document.getElementById("myVideo");
          axios
            .post("/api/transform",{
                pwd: _this.accessKey,
                source_text: _this.sourceText
              })
            .then(function (response) {
              _this.msg.color = "green";
              _this.msg.content = "获取成功！";
              myVideo.load();
              _this.realUrl = response.data.list[0];
              myVideo.pause();
            })
            .catch(function (error) {
              _this.msg.color = "red";
              _this.msg.content = "获取失败：" + error.response.data.message;
              _this.msg.show = true;
            });
        },
      },
    });
  </script>
</html>
